/*==============================
    Footer.css
==============================*/
footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: 10px;
    font-size: 1.25rem;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #fff;
}

footer.flash {
    animation: flash 1s ease-in-out 1;
}

@keyframes flash {
    50% {
        background: firebrick;
    }
}