/*==============================
    Hero.css
==============================*/
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}

/* Wrapper (corner chevrons) */
/* ! Inspired by Codegrid: https://www.youtube.com/watch?v=LyFOf5nRjNo&t=257s */
#hero .wrapper {
    position: relative;
    padding: 10px;
    margin-bottom: 14px;
    animation: fadeInUp 1.5s ease-in-out 1;
}
#hero .wrapper::before,
#hero .wrapper::after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    animation: fadeIn 3s ease-in-out 1;
}
#hero .wrapper::before {
    left: 0;
    top: 0;
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
}
#hero .wrapper::after {
    width: 8px;
    height: 8px;
    right: 0;
    bottom: 0;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}

/* Name and role */
#hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: #333;
}

#hero p {
    font-size: 1.33rem;
    font-weight: 300;
    letter-spacing: 6px;
    color: #777;
    animation: fadeIn 3s ease-in-out 1;
}

/* Scroll note */
#hero .scroll-note {
    position: absolute;
    bottom: 0;
    color: #222;
    text-align: center;
    animation: fadeIn 3s linear 1, pulse 2s ease-in-out infinite;
}

#hero .scroll-note p {
    margin-bottom: 10px;
    color: #222;
    font-weight: 300;
    animation: pulse 2s ease-in-out infinite;
}

/*==============================
    Animations
==============================*/
@keyframes fadeInUp {
    0% {
        position: relative;
        top: 10%;
        opacity: 0;
    }

    100% {
        position: relative;
        top: 0%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%, 33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% { color: #666; }
    50% { color: #eee; }
}


/*==============================
    Media Queries
==============================*/
@media (max-width:500px) {
    #hero h1 {
        font-size: 1.75rem;
    }

    #hero p {
        font-size: .75rem;
    }
}